@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lỗi hệ thống";
}
<div class="container py-5">
    <h1 class="display-5">Xin lỗi, đã xảy ra lỗi</h1>
    <p>Hệ thống đang gặp sự cố. Vui lòng thử lại sau.</p>
    <a class="btn btn-primary" href="/">Về trang chủ</a>
    
    
</div>


