@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Không tìm thấy trang";
}
<div class="container py-5">
    <h1 class="display-5">404 - Không tìm thấy trang</h1>
    <p>Trang bạn yêu cầu không tồn tại hoặc đã bị di chuyển.</p>
    <a class="btn btn-primary" href="/">Về trang chủ</a>
    
    
</div>


