@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Quên mật khẩu</h2>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Gửi mã đặt lại</button>
    <a href="@Url.Action("Login")" class="btn btn-link">Đăng nhập</a>
}

