@{
    ViewBag.Title = "Admin Dashboard";
}


<h2>@ViewBag.Greeting</h2>
<p>@ViewBag.RoleText</p>
<p>
    @Html.ActionLink("Quản lý Khoa/Phòng (Departments)", "Index", "Departments", null, new { @class = "btn btn-primary" })
</p>
<p>
    <a href="@Url.Action("Logout", "Account")" class="btn btn-danger">Đăng xuất</a>
</p>

