@{
    ViewBag.Title = "Organizer Dashboard";
}

<h2>Organizer Dashboard</h2>
<p>Chào mừng vai trò Organizer. Bạn có thể xem danh sách user, sự kiện, và báo cáo.</p>


<p>
    <a href="@Url.Action("Logout", "Account")" class="btn btn-danger">Đăng xuất</a>
</p>
